=begin
#AI Stats Gateway API

#Programmatic access to the AI Stats AI Gateway. All endpoints forward requests to the best available provider for the specified model, and return normalised responses with clear structured metadata.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module AIStatsSdk
  class AudioApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate audio from text
    # @param audio_speech_request [AudioSpeechRequest] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def audio_speech_post(audio_speech_request, opts = {})
      data, _status_code, _headers = audio_speech_post_with_http_info(audio_speech_request, opts)
      data
    end

    # Generate audio from text
    # @param audio_speech_request [AudioSpeechRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def audio_speech_post_with_http_info(audio_speech_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudioApi.audio_speech_post ...'
      end
      # verify the required parameter 'audio_speech_request' is set
      if @api_client.config.client_side_validation && audio_speech_request.nil?
        fail ArgumentError, "Missing the required parameter 'audio_speech_request' when calling AudioApi.audio_speech_post"
      end
      # resource path
      local_var_path = '/audio/speech'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['audio/mpeg', 'application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(audio_speech_request)

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['GatewayAuth']

      new_options = opts.merge(
        :operation => :"AudioApi.audio_speech_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudioApi#audio_speech_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Transcribe audio
    # @param audio_transcription_request [AudioTranscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AudioTranscriptionResponse]
    def audio_transcriptions_post(audio_transcription_request, opts = {})
      data, _status_code, _headers = audio_transcriptions_post_with_http_info(audio_transcription_request, opts)
      data
    end

    # Transcribe audio
    # @param audio_transcription_request [AudioTranscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AudioTranscriptionResponse, Integer, Hash)>] AudioTranscriptionResponse data, response status code and response headers
    def audio_transcriptions_post_with_http_info(audio_transcription_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudioApi.audio_transcriptions_post ...'
      end
      # verify the required parameter 'audio_transcription_request' is set
      if @api_client.config.client_side_validation && audio_transcription_request.nil?
        fail ArgumentError, "Missing the required parameter 'audio_transcription_request' when calling AudioApi.audio_transcriptions_post"
      end
      # resource path
      local_var_path = '/audio/transcriptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(audio_transcription_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTranscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['GatewayAuth']

      new_options = opts.merge(
        :operation => :"AudioApi.audio_transcriptions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudioApi#audio_transcriptions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Translate audio
    # @param audio_translation_request [AudioTranslationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AudioTranscriptionResponse]
    def audio_translations_post(audio_translation_request, opts = {})
      data, _status_code, _headers = audio_translations_post_with_http_info(audio_translation_request, opts)
      data
    end

    # Translate audio
    # @param audio_translation_request [AudioTranslationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AudioTranscriptionResponse, Integer, Hash)>] AudioTranscriptionResponse data, response status code and response headers
    def audio_translations_post_with_http_info(audio_translation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudioApi.audio_translations_post ...'
      end
      # verify the required parameter 'audio_translation_request' is set
      if @api_client.config.client_side_validation && audio_translation_request.nil?
        fail ArgumentError, "Missing the required parameter 'audio_translation_request' when calling AudioApi.audio_translations_post"
      end
      # resource path
      local_var_path = '/audio/translations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(audio_translation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTranscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['GatewayAuth']

      new_options = opts.merge(
        :operation => :"AudioApi.audio_translations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudioApi#audio_translations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
