=begin
#AI Stats Gateway API

#Programmatic access to the AI Stats AI Gateway. All endpoints forward requests to the best available provider for the specified model, and return normalised responses with clear structured metadata.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module AIStatsSdk
  class BatchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve a batch job
    # @param batch_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BatchResponse]
    def batches_batch_id_get(batch_id, opts = {})
      data, _status_code, _headers = batches_batch_id_get_with_http_info(batch_id, opts)
      data
    end

    # Retrieve a batch job
    # @param batch_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchResponse, Integer, Hash)>] BatchResponse data, response status code and response headers
    def batches_batch_id_get_with_http_info(batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batches_batch_id_get ...'
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchApi.batches_batch_id_get"
      end
      # resource path
      local_var_path = '/batches/{batch_id}'.sub('{' + 'batch_id' + '}', CGI.escape(batch_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['GatewayAuth']

      new_options = opts.merge(
        :operation => :"BatchApi.batches_batch_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batches_batch_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a batch job
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchResponse]
    def batches_post(batch_request, opts = {})
      data, _status_code, _headers = batches_post_with_http_info(batch_request, opts)
      data
    end

    # Create a batch job
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchResponse, Integer, Hash)>] BatchResponse data, response status code and response headers
    def batches_post_with_http_info(batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batches_post ...'
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling BatchApi.batches_post"
      end
      # resource path
      local_var_path = '/batches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['GatewayAuth']

      new_options = opts.merge(
        :operation => :"BatchApi.batches_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batches_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
