=begin
#AI Stats Gateway API

#Programmatic access to the AI Stats AI Gateway. All endpoints forward requests to the best available provider for the specified model, and return normalised responses with clear structured metadata.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module AIStatsSdk
  class CompletionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a chat completion
    # Routes a chat completion request to the healthiest configured provider for the requested model. The gateway normalises upstream responses and adds auditing metadata to the payload.
    # @param chat_completions_request [ChatCompletionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ChatCompletionsResponse]
    def create_chat_completion(chat_completions_request, opts = {})
      data, _status_code, _headers = create_chat_completion_with_http_info(chat_completions_request, opts)
      data
    end

    # Create a chat completion
    # Routes a chat completion request to the healthiest configured provider for the requested model. The gateway normalises upstream responses and adds auditing metadata to the payload.
    # @param chat_completions_request [ChatCompletionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChatCompletionsResponse, Integer, Hash)>] ChatCompletionsResponse data, response status code and response headers
    def create_chat_completion_with_http_info(chat_completions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompletionsApi.create_chat_completion ...'
      end
      # verify the required parameter 'chat_completions_request' is set
      if @api_client.config.client_side_validation && chat_completions_request.nil?
        fail ArgumentError, "Missing the required parameter 'chat_completions_request' when calling CompletionsApi.create_chat_completion"
      end
      # resource path
      local_var_path = '/chat/completions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/event-stream']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(chat_completions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ChatCompletionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['GatewayAuth']

      new_options = opts.merge(
        :operation => :"CompletionsApi.create_chat_completion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompletionsApi#create_chat_completion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
