=begin
#AI Stats Gateway API

#Programmatic access to the AI Stats AI Gateway. All endpoints forward requests to the best available provider for the specified model, and return normalised responses with clear structured metadata.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module AIStatsSdk
  class ImagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Edit an image
    # Applies edits to an existing image using the specified model and prompt.
    # @param images_edit_request [ImagesEditRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImageGenerationResponse]
    def images_edits_post(images_edit_request, opts = {})
      data, _status_code, _headers = images_edits_post_with_http_info(images_edit_request, opts)
      data
    end

    # Edit an image
    # Applies edits to an existing image using the specified model and prompt.
    # @param images_edit_request [ImagesEditRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImageGenerationResponse, Integer, Hash)>] ImageGenerationResponse data, response status code and response headers
    def images_edits_post_with_http_info(images_edit_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_edits_post ...'
      end
      # verify the required parameter 'images_edit_request' is set
      if @api_client.config.client_side_validation && images_edit_request.nil?
        fail ArgumentError, "Missing the required parameter 'images_edit_request' when calling ImagesApi.images_edits_post"
      end
      # resource path
      local_var_path = '/images/edits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(images_edit_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImageGenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['GatewayAuth']

      new_options = opts.merge(
        :operation => :"ImagesApi.images_edits_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_edits_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate images
    # Creates one or more images from a text prompt using the configured provider for the requested model.
    # @param image_generation_request [ImageGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImageGenerationResponse]
    def images_generations_post(image_generation_request, opts = {})
      data, _status_code, _headers = images_generations_post_with_http_info(image_generation_request, opts)
      data
    end

    # Generate images
    # Creates one or more images from a text prompt using the configured provider for the requested model.
    # @param image_generation_request [ImageGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImageGenerationResponse, Integer, Hash)>] ImageGenerationResponse data, response status code and response headers
    def images_generations_post_with_http_info(image_generation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_generations_post ...'
      end
      # verify the required parameter 'image_generation_request' is set
      if @api_client.config.client_side_validation && image_generation_request.nil?
        fail ArgumentError, "Missing the required parameter 'image_generation_request' when calling ImagesApi.images_generations_post"
      end
      # resource path
      local_var_path = '/images/generations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(image_generation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImageGenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['GatewayAuth']

      new_options = opts.merge(
        :operation => :"ImagesApi.images_generations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_generations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
